@font-face {
    font-family: 'Soin Sans Neue';
    src: url(./Soin\ Sans\ Neue.otf);
}

body{
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.app-name {
    position: absolute;
    top: 60px;
    left: 7%;
    font-size: 60px;
    font-weight: bolder;
}

.main-font {
    font-family: 'Soin Sans Neue', sans-serif;
}

div.todo-input {
    display: flex;
    align-items: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 55%;
    height: 8%;
    background-color: #dedede; 
    border: 1px solid #000000; 
    border-radius: 20px; 
    padding: 7px; 
    gap: 8px;
}

div.todo-input input {
    background-color: #dedede;
    flex: 1; 
    border: none; 
    padding: 1%;
    width: 78%;
    outline: none;
    font-size: 30px;;
}

div.todo-input button {
    background: none; 
    border: none; 
    font-size: 20px; 
    cursor: pointer; 
    padding: 5px 15px; 
    transition: all 0.3s;
}

div.todo-input button img {
    position: relative;
    transform: translateX(-50%);
}

div.todo-input button:hover {
    filter: drop-shadow(#000000 -1px 3px 2px);
    transition: all 0.3s;
}

div.todo-input input::placeholder {
    font-size: 25px;
}

div.todo-input input:active {
    border: none;
}

div.todo-input button img{
    width: 30px;
}

div.todo-input button {
    width: 3%;
    position: relative;
}

div.todo-list {
    position: absolute;
    top: 67%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 56%;
    height: 56%;
    background-color: #dedede;
    border-radius: 20px;
    border: 1px solid #000000;
}